.menu {
  left: 0;
  overflow-y: auto;
  flex: 1 0 auto;
  color: #425461;
  padding-top: 16px;
  z-index: 1;
  position: static;
  margin-bottom: 1.7rem 0;
  top: 0;

  @include min-screen($breakpoint--mobile) {
    position: sticky;
    flex: 0 0 #{$sidebar-width};
    margin-top: calc(3.8rem + 0.333333rem);
  }

  h1 {
    font-weight: 400;
    margin-bottom: 2rem;

    a {
      text-decoration: none;
      color: inherit;
    }
  }

  img {
    width: 84.25px;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    a {
      display: inline-block;
      color: #364149;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      text-decoration: none;
      padding: 3px 0px;

      &:hover {
        color: $color--link;
      }

      border-bottom: 2px solid transparent;
    }

    li.active > a {
      color: $color--link;
    }

    ul {
      margin-left: 10px;
      padding-left: 10px;
      border-left: 2px solid $color--link;
    }
  }
}
